<a class="{{ model.className }}-toggle js-toggle" href="#" title="${ __('measureDistancesAndAreas') }">${ __('measure') }</a>
<div class="{{ model.className }}-interaction js-interaction">
  <div class="js-startprompt startprompt">
    <h3>Start select an area</h3>
    <ul class="tasks">
      <a href="#" class="js-start start">START DRAWING</a>
    </ul>
  </div>
  <div class="js-measuringprompt">
    <h3>Start select an area</h3>
    <p class="js-starthelp">Click on the map to draw polygon<br/>Double click to finish the polygon</p>
    <div class="js-results results"></div>
    <ul class="js-measuretasks tasks">
      <li><a href="#" class="js-cancel cancel">CANCEL</a></li>
      <li><a href="#" class="js-finish finish">FINISH POLYGON</a></li>
    </ul>
  </div>
</div>
